@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --global-paragrafh-font: "Old Standard tt", serif; 
  --global-header-font: "Josefin Sans", sans-serif;
  --primary-color: #F0D1A5;
  --secondary-color: #EAC799;
}
html{
  display: flex;
  text-align: center;
  justify-content: center;
  
}

.main-topic{
  width: 1200px;
  height: 20vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 9px;
  margin-top: 60px;
  background-color: #F0D1A5;
;
}
.main-image{
  grid-row-start: span 2;
}
.informational-section{
  grid-column-start: span 3;
}
.information-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.primary-paragrafh, .secondary-paragrafh{
  font-family: var(--global-header-font);
  font-size: 24px;
}


.primary-topic{
  width: 1200px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

